.div-header {
    background-color: #445161;
    color: #ffffff;
    height: 180px;
    display: block;
    padding-bottom: 150px;
}

.imghead {
    display: inline-block;
    float: right;
    width: 469px;
    height: 214px;
    margin-right: 50px;
    margin-top: -60px;
}

ul {
    float: left;
    width: 422px;
    height: 127px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 25px;

}

h1 {
    width: 367px;
    height: 44px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 60px;
    font-weight: 400;
    margin: 50px;
    padding-top: 25px;
}

.h2-1 {
    padding-top: 15px;
    width: 254px;
    height: 28px;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 50px;
}

.div-2 {
    display: block;
    width: 700px;
    float: left;
    height: 350px;
}

.p1 {
    width: 653px;
    height: 60px;
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 50px
}

.img2 {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

.h2-2 {
    width: 351px;
    height: 28px;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 430px;

}
.div-3 {
height: 680;
background-color:

}